body {
    background-color: #90EE90;
}

#container {
    text-align: center;
    margin-top: 2rem;
}

#game-canvas {
    border: 3px solid black;
}

.scoreText {
    font-size: 50px;
    color: black;
    margin-top: 10px;
}

.button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    width: 100px;
    height: 40px;
    border: 3.5px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.473);
}

.difficulty {
    display:block;
    margin: auto;
    margin-top: 1rem;
}

#restart-button {
    background-color:#EE90EE;
}

#restart-button:hover {
    background-color:#ee90eebe;
}

#score-text {
    font-family:'Times New Roman', Times, serif;
}

#score-text::before {
    content: "🍎: ";
}

#highscore-text{
    font-family: 'Courier New', Courier, monospace;
}

#highscore-text::before {
    content: "HIGHSCORE: "
}