body {
    background-color: #90EE90;
}

#container {
    text-align: center;
}

#game-canvas {
    border: 3px solid black;
}

#score-text {
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    color: black;
    margin-top: 10px;
}

#restart-button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    width: 100px;
    height: 40px;
    border: 3.5px solid black;
    border-radius: 10px;
    cursor: pointer;
}